extends ../layouts/layout.pug

block variables
  - var template = "about"


block content
  - const imageOne = about.data.about_group[0]
  - const imageTwo = about.data.about_group[1]
  - const imageThree = about.data.about_group[2]
  - const imageFour = about.data.about_group[3]
  - const imageFive = about.data.about_group[4]
  - const imageSix = about.data.about_group[5]
  - const paragraphFirst = about.data.about_paragraphs[0]
  - const paragraphSecond = about.data.about_paragraphs[1]
  - const paragraphThird = about.data.about_paragraphs[2]
  - const paragraphFourth = about.data.about_paragraphs[3]
  .about.fading
    .about__wrapper
      section.about__gallery 
        h1=about.data.about_title
        .about__gallery__content
          .about__gallery--image
            img.about-webgl(src=imageOne.about_image.url data-src=imageFive.about_image.url alt=imageOne.about_image.alt ? imageOne.about_image.alt : 'Image with no description')
          .about__gallery--text
            p=paragraphFirst.about_paragraph
            p=paragraphSecond.about_paragraph
        .about__gallery__content 
          .about__gallery--image
            img.about-webgl(src=imageTwo.about_image.url data-src=imageFour.about_image.url alt=imageTwo.about_image.alt ? imageTwo.about_image.alt : 'Image with no description')
      section.about__gallery
        .about__gallery__content 
          .about__gallery--image.mobile--hidden
            img.about-webgl(src=imageThree.about_image.url data-src=imageSix.about_image.url alt=imageThree.about_image.alt ? imageThree.about_image : "Image with no description")
        .about__gallery__content
          .about__gallery--text
            p=paragraphThird.about_paragraph
            p=paragraphFourth.about_paragraph
          .about__gallery--button
            p=about.data.about_text
            .about_gallery--button-item
              a.button--large(href=about.data['about_link-external'].url ,target="_blank", rel="noopener noreferrer")=about.data['about_link-text']
  include ../partials/footer.pug


